<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8>
	<title>Post</title>
	
	<link rel="stylesheet" type="text/css" media="screen" href="css/c.php" />
	<link rel="shortcut icon" href="css/img/icon.png">
</head>
<body>
	<div id="newpost">
		<form method="post" action="">
			<textarea name="post"></textarea><br>
			<label>Tags: <input type="text" name="tags" placeholder="tags,sperated,by,comma"></label><br>
			<input type="submit" value="postit">
		</form>
	</div>
	<ul class="tags">
		{{taglist}}
	</ul>
	<div id="postlist">
		<ul id="yearlist">{{yearlist}}
			<li><a href="index.php">clear</a></li>
		</ul>
		
		<div id="posts">
			{{postlist}}
		</div>
	</div>

</body>
</html>