<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8>
	<title>Post</title>
	
	<link rel="stylesheet" type="text/css" media="screen" href="css/c.php" />
	<link rel="shortcut icon" href="css/img/icon.png">
</head>
<body>
	<div id="newpost">
		<form method="post" action="">
			<textarea name="post"></textarea><br>
			<label>Tags: <input type="text" name="tags" placeholder="{{tagsplaceholder}}"></label><br>
			<input type="submit" value="{{postbtn}}">
		</form>
	</div>
	<ul class="tags">
		{{taglist}}
	</ul>
	<div id="postlist">
		<ul id="yearlist">{{yearlist}}
			<li><a href="index.php">{{clearbtn}}</a></li>
		</ul>
		
		<div id="posts">
			{{postlist}}
		</div>
	</div>
	<div id="controls">
		<a href="goaway.php">I am out</a><br>
		<form method="get" action="search.php">
			<input type="text" name="text" placeholder="{{textplaceholder}}"><br>
			<input type="submit" value="{{searchbtn}}">
		</form>
	</div>
</body>
</html>